

html {height: 100%;}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

li {list-style: none;}

body {
	font-family: "Arial";
	font-size: 14px;
	width: 100%;
	height: 100%;
 }

.wrapper {
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-image: url(../gallery/background%20header.png);
 }

a {text-decoration: none;}

/* Header
-----------------------------------------------------------------------------*/

.header {background-image: url(../gallery/background%20main-menu.png);}

/*---------MAINMENU*/

.main-menu {text-align: center;}
.main-menu ul {
    margin:0;
}
	.main-menu li {
		display: inline-block;
		text-align: center;
        padding: 10px 15px;
        position: relative;
        right: 15px;

	 }

		.main-menu li a {
			color: #fff;
			font-size: 13px;
			padding: 8px;
		 }

			.main-menu li a:hover {
				background-color: #cdcdcd;
				color: #4d4d4d;
				border-radius: 21px;
			 }

/*-----------MAINMENU-ending*/
/*-----------HEADER - MENU AND h1*/

h1 {
    
	font-family: "MyRiadProBold";
	color: #983904;
	font-size: 29px;
	position: relative;
	left: 17px;
 }

.logo {padding-left: 17px;}

	.logo img {
        
		width: 43px;
		height: auto;
		float: left;
	 }

/*------------DEVICES*/

.devices-menu {
	padding-top: 17px;
	padding-bottom: 17px;
 }

	.devices-menu picture {
		display: block;
		width: auto;
		height: 40px;
	 }

	.devices-menu li {
		display: inline-block;
		padding-left: 55px;
		position: relative;
		left: -47px;
		text-align: center;
	 }

	.devices-menu a {
		color: #4d4d4d;
		display: inline-block;
		font-size: 13px;
	 }

		.devices-menu a:hover {color: #d65600;}

	.devices-menu img {
		width: auto;
		height: 37px;
	 }

.line {
	background-image: url(../gallery/line2.png);
	height: 5px;
	position: relative;
	top: 16px;
 }

/*----------HEADER - MENU AND h1 end*/

/* ----------Middle---*/

.subcontent {background-image: url(../gallery/background%20maincontent.png);}

	.subcontent ul {
		padding-top: 17px;
		padding-bottom: 17px;
	 }

		.subcontent ul li {display: inline-block;}

	

	.subcontent h2 {
		display: inline-block;
		font-size: 29px;
		font-weight: 400;
		color: #915542;
		margin-bottom: -4px;
	 }

	

	.subcontent img {
		position: relative;
		top: 22px;
		right: 26px;
		float: left;
		width: 54px;
		height: auto;
	 }

	.subcontent p {
		padding-left: 47px;
		padding-right: 17px;
		font-size: 15px;
		line-height: 23px;
		color: #3e3e3e;
		margin-top: 19px;
	 }

.featurescontent {
	background-image: url(../gallery/background%20featurescontent.png);
	margin-top: -15px;
	margin-bottom: -17px;
 }

	.featurescontent li {
		width: 700px;
		
		font-size: 15px;
		padding-top: 27px;
		padding-left: 27px;
		display: inline-block;
		
	 }

	.featurescontent h3 {
		padding-left: 75px;
		color: #ffffff;
		font-weight: 400;
		font-size: 21px;
		line-height: 25px;
	 }

	.featurescontent li .icon {
		height: 90px;
		width: auto;
		float: left;
	 }

	.featurescontent img {
		width: 100%;
		margin-top: 8px;
	 }

	.featurescontent li:last-child {padding-bottom: 17px;}

.quotes {background-image: url(../gallery/background%20quotes.png);}

	.quotes li {
		display: inline-block;
		padding-left: 37px;
		padding-right: 85px;
	 }

		.quotes li:first-child {margin-top: 17px;}

		.quotes li:last-child {margin-bottom: 67px;}

	.quotes p {line-height: 25px;}

	.quotes h5 {
		margin-top: 22px;
		text-align: right;
		font-size: 19px;
		font-weight: 600;
		font-style: italic;
	 }

	.quotes a {color: rgba(99,66,33,0.7);}

.readmore {text-align: center;}

.rmbutton {
	display: inline-block;
	width: 220px;
	height: 22px;
	border-radius: 19px;
	font-size: 21px;
	padding: 7px;
	position: relative;
	top: -77px;
	z-index: 1;
	color: antiquewhite;
	background-color: #7f7f7f;
	border: 2px solid;
	border-color: antiquewhite;
 }

/* -----------------Footer--------------------*/

.footer {
	margin: -100px auto 0;
	position: relative;
	background-image: url(../gallery/background%20footer.png);
 }

.connect {
	display: inline-block;
	margin-left: 57px;
	margin-bottom: 57px;
	margin-top: 27px;
	width: 250px;
 }

	.connect h4 {
		font-family: "Arial";
		font-size: 25px;
		font-weight: 400;
		color: darkgray;
	 }

	.connect li {display: inline-block;}

.connect li img {
    width: auto;
    height: 50px;
    margin-right: 5px;
}

.newsletter {
	display: inline-block;
	margin-top: -27px;
	margin-left: 57px;
	
 }

	.newsletter h5 {
		color: azure;
		font-size: 15px;
		font-family: "MyriadProRegular";
		font-weight: 500;
		opacity: 0.7;
		margin-bottom: 4px;
	 }

	.newsletter button {
		padding: 5px;
		border-color: #21689d;
		border: 1px solid #21689d;
		border-radius: 3px;
		font-size: 13px;
		background-color: #21689d;
		color: antiquewhite;
	 }

	.newsletter input {
		width: 150px;
		height: 20px;
		background-color: black;
		border: 3px solid black;
		color: whitesmoke;
	 }

.partners {
	margin-left: 57px;
    margin-bottom: 17px;
 }

	.partners h5 {
		font-size: 26px;
		color: azure;
		opacity: 0.8;
		font-weight: 200;
		margin-bottom: 21px;
	 }

	.partners li {display: block;}

.ownername h6 {
    margin: 0;
	font-size: 25px;
	color: antiquewhite;
	opacity: 0.8;
	font-size: 15px;
	font-weight: 500;
	padding: 6px;
	color: antiquewhite;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255,0.2);
 }

